@import '../../style/global';
$offset: 10px;

md-toolbar.mat-toolbar {
  // just to set the toolbar apart
  background-color: red;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  padding: 0;
  z-index: 500;

  h1{
    width: $sideWidth;
    height: inherit;
    a{
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-size: 30px;
      height: 100%;
    }
  }
  
}

.filler {
  flex: 1 1 auto;
}